* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.925);
}

img {
    margin: 10px;
    text-align: center;
}
.img-shake{
    animation: shake 1s linear 0s infinite normal forwards;
}
@keyframes shake {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}

div {
    max-width: 30rem;
    margin: 0 auto;
    text-align: center;
    display: grid;
    justify-items: center;
}

div .btn {
    margin-top: 40px;
    font-size: 20px;
    padding: 5px 10px;
    background-color: darkolivegreen;
    border-radius: 5px;
    border-color: transparent;
    display: block;
    left: 50%;

}

.btn:hover {
    background-color: rgba(85, 107, 47, 0.856);
}

div .content {
    padding-top: 20px;
    margin: 10px;
    font-size: 25px;
    color: gray;
    letter-spacing: 1px;
    word-spacing: 1px;
}